/* Global CSS Styles */

html, body {
    background-color: #fff;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    top: 30px;
    /*
    right: 10px;
    top: 18px;
    */
}

.content {
    margin-top: 120px;
    text-align: center;
}

.title {
    font-size: 30px;
}

.content > .text {
    margin: 0 20% 0 20%;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Links */
.links > .link-container, .github-links {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    border-radius: 10px;
    height: 40px;
}

.links > .link-container > a {
    color: white;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
}

.links > .github-links > a {
    color: grey;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > .github-links > a:hover {
    color: lightgrey;
}

.links > .link-container > a:hover {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #2196f3;
}

.links > .active {
    background-color: #2196f3;
}


/* Navigation */
#navigation {
    margin-bottom: 50px;
    background-color: #1976d2;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navBtn {
    display: inline-block;
    margin: 0 10px;
}

#navbar {
    padding: 22px;
}

#menu {
    display: none;
    padding: 14px;
    position: relative;
    
}

table.snapshot {
    text-align:center;
    font-size:16px;
    width: 40%;
    margin: auto 5%;
    border:1px solid #ddd;
}

#frontEnd {
    float: left;
}

#backEnd {
    float: right;
}

td, th{
    border:.5px solid rgba(172, 172, 172, 0.897);
    padding: 1em;
}

#grid {
    margin: auto 25%;
    /* background-color: whitesmoke;
    border-radius: 20px; */
}

#soundboard {
    margin: auto;
    width: 60%;
}

#profilebox {
    margin: auto auto 25px auto;
    width: 90%;
}

#profilebox > div {
    display: inline-block;
}
@media screen and (max-width: 600px) {
    #navbar { display: none; }
    #menu { display: block; }
    table.snapshot {width: auto; }
    #grid { margin: auto 5%; }
    #soundboard > div > button { margin-top: 5px; }
}