/* Global CSS Styles */

html, body {
    background-color: #fff;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    top: 30px;
    /*
    right: 10px;
    top: 18px;
    */
}

.content {
    margin-top: 10px;
    text-align: center;
}

.title {
    font-size: 30px;
}

.content > .text {
    margin: 0 20% 0 20%;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Links */
.links > .link-container {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    border-radius: 10px;
    height: 40px;
}

.links > .link-container > a {
    color: #636b6f;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
}

.links > .link-container > a:hover {
    color: darkgrey;
}

.links > .active {
    background-color: lightgrey;
}

#navigation {
    margin-bottom: 50px;
}

.navBtn {
    display: inline-block;
    margin: 0 10px;
}

#navbar {
    margin: 22px;
}

#menu {
    display: none;
    margin: 14px;
    position: relative;
}

table.snapshot {
    text-align:center;
    font-size:16px;
    width: 40%;
    margin: auto 5%;
    border:1px solid #ddd;
}

#frontEnd {
    float: left;
}

#backEnd {
    float: right;
}

td, th{
    border:.5px solid rgba(172, 172, 172, 0.897);
    padding: 1em;
}

#grid {
    margin: 0 4%;
    background-color: whitesmoke;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    #navbar { display: none; }
    #menu { display: block; }
    table.snapshot {width: auto; }
}